<div class="card glass-card" style="width: 30rem; margin-left: auto;
    margin-right: auto; margin-top: 30px; text-align: center;">
  <div class="card-body">
    <h1 class="card-title" style="margin-bottom: 60px;">Login</h1>
<%= form_with method: "post", url: "/sessions" do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Submit" %>
  </div>
<% end%>

<a href="/signup" > or Sign-up</a>