<div class="card glass-card" style="width: 30rem; margin-left: auto;
    margin-right: auto; margin-top: 30px; text-align: center;">
  <div class="card-body">
    <h1 class="card-title" style="margin-bottom: 60px;">New Family Member</h1>
<div>
<%= form_with model: @familytree do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :relationship_to_user %>
    <%= form.text_field :relationship_to_user %>
  </div>
  <div>
    <%= form.label :birthday %>
    <%= form.text_field :birthday %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
   <div>
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>
  <div>
    <%= form.submit class: "btn btn-info"%>
  </div>
<% end%>