<div class="card glass-card" style="width: 30rem; margin-left: auto;
    margin-right: auto; margin-top: 30px; text-align: center;">
  <div class="card-body">
    <h1 class="card-title" style="margin-bottom: 60px;">Edit Kid's Profile</h1>
<%= form_with model: @kid do |form| %>
  <div style="margin-top: 15px;">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div style="margin-top: 15px;">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

 <div style="margin-top: 15px;">
    <%= form.label :birthday %>
    <%= form.text_field :birthday %>
  </div>  <%= form.label :birthday do %>
  yyyy/mm/dd <span class="required">*</span>
<% end %>

  <div style="margin-top: 15px;">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  
  <div style="margin-top: 50px; margin-bottom: 40px;">
    <%= form.submit "Update Profile", class: "btn btn-info" %>
  </div>
<% end%>