<h1> Kids</h1>
<a href="kids/new" class="btn btn-info">New Kid</a>
<% @kids.each do |kid| %>
  <div class="card" style="width: 18rem; margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 450px;
      margin-left: 450px;">
  <img src="<%= kid.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">  <h2><%= kid.first_name %> <%= kid.last_name %></h2></h5>
    <p class="card-text"><% if kid.birthday%>
  <p>Birthday: <%= kid.birthday.strftime("%B %d, %Y") %></p>
  <%end%></p>
    <a href="/kids/<%= kid.id %>" class="btn btn-info">See <%= kid.first_name%>'s Profile</a>
  </div>
</div>
  <% end %>