<h1><%= @kid.first_name%>'s Profile</h1>

   <div class="card" style="width: 20rem;  margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 450px;
      margin-left: 450px;">
    
      <img src="<%= @kid.image%>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"><%= @kid.first_name%> <%= @kid.last_name %></p>
          <p>Birthday: <%= @kid.birthday.strftime("%B %d, %Y") %></p>
    
      </div> 
      <p>
      <%= link_to "Edit kid", edit_kid_path(@kid), class:"btn btn-info" %>
      </p>
      <p>
      <%= link_to "Delete kid", kid_path(@kid),  data: {turbo_method: :delete}, class: "btn btn-info"%>
      </p>
      <p>
        <a href="/kids"  class="btn btn-info"> Back to all kids</a>
      </p>
    </div>

<h1><%= @kid.first_name%>'s Milestones</h1>
<%@kid.milestones.each do |milestone|%>
 <div class="card" style="width: 18rem; margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 450px;
      margin-left: 450px;">
  <img src="<%= milestone.image %>" class="card-img-top" >

<h5 class="card-title">  <h2><%= milestone.name %> </h2></h5>
  <div class="card-body">
    <h2 class="card-title">  <h2><%= milestone.milestone %> </h2></h2>
    <p>Description: <%= milestone.description %></p>
    <%if milestone.date%>
      <p>Date:<%= milestone.date.strftime("%B, %d, %Y")%></p>
    <%end%>
<%end%>
 
 <p>
  <%= link_to "Edit Milestone", edit_kid_milestone_path(@kid), class:"btn btn-info" %>
  </p>

  <p>
  <%= link_to "New Milestone", new_kid_milestone_path(@kid), class:"btn btn-info" %>
  </p>
