<h1>Photo info</h1>
  <p>Description: <%= @photo.description %></p>
  <p>date: <%= @photo.date %></p>
<img src="<%= @photo.image_url%>" >
 <div>
 <%= link_to "Edit photo", edit_photo_path(@photo) %>
</div>
<div>
<%= link_to "Delete photo", photo_path(@photo), data: {turbo_method: :delete} %>
</div>
 <div>
<a href="/photos">Back to all photos</a>
</div>